html {
    background-image: linear-gradient(#cddede, #cac6c2);
}

h1, h2, h3 {
    font-family: "Times New Roman", sans-serif;
    text-align: center;
    color: #003366;
    line-height: 1.25;
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

body {
    font-size: 1.4rem;
    max-width: 100%;
}

#copyright {
    text-align: end;
}