html {
    background-image: linear-gradient(#cddede, #cac6c2);
}

h1, h2, h3 {
    font-family: "Times New Roman", sans-serif;
    text-align: center;
    color: #003366;
    line-height: 1.25;
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

body {
    font-size: 1.4rem;
    max-width: 100%;
}

.go_to_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background: white;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.go_to_top img {
    width: 50px;
    height: 50px;
}

img {
    width: 150px;
    border: 3px;
    color: solid coral;
}