html {
    background-image: linear-gradient(#cddede, #cac6c2);
}

h1, h2, h3 {
    font-family: "Times New Roman", sans-serif;
    text-align: center;
    color: #003366;
    line-height: 1.25;
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

body {
    font-size: 1.4rem;
    max-width: 100%;
}


.content-container {
    max-width: 100%;
    height: fit-content;
    margin: auto;
    padding: 5%;
    background: rgb(234, 231, 226);
    border-radius: 10px;
}


#intro {
    background-image: url("1pier-lake-hallstatt-austria.jpg");
    color: white;
    padding: 5%;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}

#intro p {
    font-size: 2rem;
    max-width: 100%;
    margin: auto;
    line-height: 1.5;
    color: rgb(83, 4, 4);
}

#name {
    color: rgb(88, 88, 18);
    font-size: 1.4rem;
}