html {
    background-color: #c7bdb5;
}

h1, h2, h3 {
    font-family: "Times New Roman", sans-serif;
    text-align: center; color: #003366;
    line-height: 1.25; 
    text-decoration: underline;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

body {
    font-size: 14px;
}

li {
    font-size: 20px;
    color: #003366;
    justify-items: center;
    align-items: center;
}

a {
    color: blue;
}

span > #name {
    font-size: 2em;
    font-weight: bold;
    color: navy;
}

#personal_information {
    font-size: 16px;
    font-style: italic;
}

img {
    width: 150px;
    border: 3px;
    color: solid coral;
}

#hobbies {
    list-style: "\2713";
}

#education {
    border: 1px solid lightgray;
}

#academic_achievements {
    background-color: coral;
}

#skills tr:nth-child(even) {
    background-color: #ffffff;
}

#skills tr:nth-child(odd) {
    background-color: yellow;
}

.horizontal_bar {
    width: 20px;
}

#experience tr:nth-child(even) {
    background-color: #ffffff;
}

#experience tr:nth-child(odd) {
    background-color: yellow;
}

body {
    width: 1024px;
}

#contact_form {
    border: 2px solid lightgray;
    padding: 5px;
    width: 450px;
}

button:hover {
    background-color: coral;
    color: white;
    filter: brightness(95%);
}

hr {
    background-color: black;
    height: 3px;
}

.horizontal_bar {
    height: 15px;
    background-color: #4CAF50; 
}

#github::before {
    content: '';
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/GitHub_Invertocat_Logo.svg/1200px-GitHub_Invertocat_Logo.svg.png') right/cover no-repeat;
    margin-right: 10px; 
    float: right / cover;
}

#linkedin::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('https://store-images.s-microsoft.com/image/apps.31120.9007199266245564.44dc7699-748d-4c34-ba5e-d04eb48f7960.bc4172bd-63f0-455a-9acd-5457f44e4473') right / cover no-repeat;
    margin-right: 10px;
    float: right / cover; 
}


.flex-container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgb(131, 185, 185);
    opacity: 0.7;
    position: fixed;
}

#parent > .flex-container > #personal_profile {
    justify-content: left;
    font-size: 23px;
    margin-right: auto;
    font-weight: bold;
}

#parent > .flex-container > *:nth-of-type(n+2):nth-of-type(-n+7) {
    padding: 6px; 
    margin: 8px; 
    font-size: 17px;
}

.go_to_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background: white;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.go_to_top img {
    width: 50px;
    height: 50px;
}

#intro {
    background-image: url("pier-lake-hallstatt-austria.jpg");
    color: white;
    padding: 50px;
    text-align: center;
}

#intro p {
    font-size: 1.7em; 
    max-width: 600px;
    margin: auto;
    line-height: 1.5;
    color: black;
}


