html {
    background-color: #c7bdb5;
}

h1, h2, h3 {
    font-family: "Times New Roman", sans-serif;
    text-align: center; color: #003366;
    line-height: 1.25; 
    text-decoration: underline;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

body {
    font-size: 14px;
}

li {
    font-size: 20px;
    color: #003366;
    justify-items: center;
    align-items: center;
}

a {
    color: blue;
}

span > #name {
    font-size: 2em;
    font-weight: bold;
    color: navy;
}

#personal_information {
    font-size: 16px;
    font-style: italic;
}

img {
    width: 150px;
    border: 3px;
    color: solid coral;
}

#hobbies {
    list-style: "\2713";
}

#education {
    border: 1px solid lightgray;
}

#academic_achievements {
    background-color: coral;
}

table {
    margin: 25px 0;
    font-size: 1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color:#ffffff;
    text-align: left;
    font-weight: bold;
}

table th, table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.horizontal_bar {
    width: 20px;
}

body {
    width: 1024px;
}

#contact_form {
    border: 2px solid lightgray;
    padding: 5px;
    width: 350px;
}

button:hover {
    background-color: rgb(60, 125, 153);
    color: white;
    filter: brightness(95%);
}

#send {
    text-align: center;
}

hr {
    background-color: black;
    height: 3px;
}

.horizontal_bar {
    height: 15px;
    background-color: #4CAF50; 
}

#github::before {
    content: '';
    display: inline-block;
    width: 20px; 
    height: 20px; 
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/GitHub_Invertocat_Logo.svg/1200px-GitHub_Invertocat_Logo.svg.png') right/cover no-repeat;
    margin-right: 10px; 
    float: right / cover;
}

#linkedin::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('https://store-images.s-microsoft.com/image/apps.31120.9007199266245564.44dc7699-748d-4c34-ba5e-d04eb48f7960.bc4172bd-63f0-455a-9acd-5457f44e4473') right / cover no-repeat;
    margin-right: 10px;
    float: right / cover; 
}

.flex-container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: grey;
    opacity: 0.7;
    position: fixed;
    color: white;
}

#parent > .flex-container > #personal_profile {
    justify-content: left;
    font-size: 23px;
    margin-right: auto;
    font-weight: bold;
}

#parent > .flex-container > *:nth-of-type(n+2):nth-of-type(-n+7) {
    padding: 6px; 
    margin: 8px; 
    font-size: 17px;
}

.go_to_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background: white;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.go_to_top img {
    width: 50px;
    height: 50px;
}

#intro {
    background-image: url("1pier-lake-hallstatt-austria.jpg");
    color: white;
    padding: 50px;
    text-align: center;
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    width: auto;
}

#intro p {
    font-size: 1.7em; 
    max-width: 600px;
    margin: auto;
    line-height: 1.5;
    color: rgb(83, 4, 4);
}

#name {
    color: rgb(88, 88, 18);
    font-size: 1.4em;
}

.content-container {
    width: max-content;
    height: fit-content;
    margin: auto;
    padding: 25px;
    background: rgb(234, 231, 226);
    border-radius: 10px;
}

.contact-container {
    width: max-content;
    height: max-content;
    margin: auto;
    padding: 25px;
    background: rgb(119, 137, 138);
    border-radius: 10px;
    display:flex;
    width: auto;
}

#contact_info {
    margin: 0 20% 0 0;
}

#form {
    margin: 0 0 0 20%;
}

#copyright {
    text-align: end;
}
