html {
    background-image: linear-gradient(#c6dbdb, #c7bdb5);
}

h1, h2, h3 {
    font-family: "Times New Roman", sans-serif;
    text-align: center;
    color: #003366;
    line-height: 1.25;
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

body {
    font-size: 1.4rem;
    max-width: 100%;
}

li {
    font-size: 1.25rem;
    color: #003366;
}

a {
    color: blue;
}

span > #name {
    font-size: 2.5vh;
    font-weight: bold;
    color: navy;
}

#personal_information {
    font-size: 1.6rem;
    font-style: italic;
}

img {
    width: 150px;
    border: 3px;
    color: solid coral;
}

#hobbies {
    list-style: "\2713";
}

#education {
    border: 1px solid lightgray;
}

#academic_achievements {
    background-color: coral;
}

table {
    width: 100%;
    margin: 25px 0;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table th, table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.horizontal_bar {
    height: 15px;
    background-color: #4CAF50;
}

body {
    max-width: 100%;
}

#contact_form {
    border: 2px solid lightgray;
    padding: 5px;
    max-width: 100%;
    width: 350px;
    background: transparent;
}

button:hover {
    background-color: rgb(60, 125, 153);
    color: white;
    filter: brightness(95%);
}

#send {
    text-align: center;
}

hr {
    background-color: black;
    height: 3px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    opacity: 0.7;
    position: fixed;
    color: white;
    width: 100%; 
    left: 0;     
    right: 0;
}

#parent > .flex-container > span {
    font-size: 24px;
    margin-right: auto;
    font-weight: bold;
}

#parent > .flex-container > a {
    padding: 6px;
    margin: 8px;
    font-size: 16px;
}


.go_to_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background: white;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.go_to_top img {
    width: 50px;
    height: 50px;
}

#intro {
    background-image: url("1pier-lake-hallstatt-austria.jpg");
    color: white;
    padding: 5%;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}

#intro p {
    font-size: 2rem;
    max-width: 100%;
    margin: auto;
    line-height: 1.5;
    color: rgb(83, 4, 4);
}

#name {
    color: rgb(88, 88, 18);
    font-size: 1.4rem;
}

.content-container {
    max-width: 100%;
    height: fit-content;
    margin: auto;
    padding: 5%;
    background: rgb(234, 231, 226);
    border-radius: 10px;
}

.contact-container {
    max-width: 100%;
    height: fit-content;
    margin: auto;
    padding: 5%;
    background: rgb(119, 137, 138);
    border-radius: 10px;
    display: flex;
    width: auto;
}

#contact_info {
    margin-right: 20%;
}

#form {
    width: 70%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    background: transparent;
}

#copyright {
    text-align: end;
}

#custom-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    border: 1px solid black;
    width: 500px;
    max-width: 80%;
    transition: 4000ms ease-in-out;
}

@media (max-width: 830px) {
    #parent {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #parent > .flex-container > span {
        font-size: 0.8em;
    }

    #parent > .flex-container > a {
        font-size: 0.5em;
    }

    table > * {
        width: auto; 
        height: auto;
    }

    #intro {
        width: auto;
        height: auto;
        background-position: center;
        text-align: center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
    }

    .content-container, .contact-container {
        max-width: 100%;
        height: fit-content;
        margin: auto;
        font-size: 100%;
        margin: auto;
        display: block;
        width: 100%;
        left: 0;
        right: 0;
        overflow: auto;
    }
}

@media (max-width: 500px) {
    #parent > .flex-container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
        align-items: start;
        width: fit-content;
    }
}