html {
  background-image: linear-gradient(#cddede, #cac6c2);
}

h1, h2, h3 {
  font-family: "Times New Roman", sans-serif;
  text-align: center;
  color: #003366;
  line-height: 1.25;
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

body {
  font-size: 1.4rem;
  max-width: 100%;
}

#num-container {
    display: flex;
    align-items: center;
    background-color: #d1bc9d;
    height: 70px;
    width: auto;
    border-radius: 10px;
}

.num-button {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .num-button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }

  @media (max-width: 830px) {
    #parent {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #parent > .flex-container > span {
        font-size: 0.8em;
    }

    #parent > .flex-container > a {
        font-size: 0.5em;
    }

    table > * {
        width: auto; 
        height: auto;
    }

    #intro {
        width: auto;
        height: auto;
        background-position: center;
        text-align: center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
    }

    .content-container, .contact-container {
        max-width: 100%;
        height: fit-content;
        margin: auto;
        font-size: 100%;
        margin: auto;
        display: block;
        width: 100%;
        left: 0;
        right: 0;
        overflow: auto;
    }
}

@media (max-width: 500px) {
    #parent > .flex-container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
        align-items: start;
        width: fit-content;
    }
}