html {
  background-image: linear-gradient(#cddede, #cac6c2);
}

h1, h2, h3 {
  font-family: "Times New Roman", sans-serif;
  text-align: center;
  color: #003366;
  line-height: 1.25;
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

body {
  font-size: 1.4rem;
  max-width: 100%;
}

#weather-container {
    display: flex;
    align-items: center;
    background-color: #9db7d1;
    height: 70px;
    width: auto;
    border-radius: 10px;
}

#weather-button {
    justify-content: center;
    align-items: center;
    background: #520806;
    border: 1px solid #000000;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

#weather-button:hover, #weather-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #1a0302;
}

#weather-button:active {
  opacity: .8;
}

@media (max-width: 830px) {
  #parent {
      flex-direction: column;
      flex-wrap: wrap;
  }

  #parent > .flex-container > span {
      font-size: 0.8em;
  }

  #parent > .flex-container > a {
      font-size: 0.5em;
  }

  table > * {
      width: auto; 
      height: auto;
  }

  #intro {
      width: auto;
      height: auto;
      background-position: center;
      text-align: center;
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
  }

  .content-container, .contact-container {
      max-width: 100%;
      height: fit-content;
      margin: auto;
      font-size: 100%;
      margin: auto;
      display: block;
      width: 100%;
      left: 0;
      right: 0;
      overflow: auto;
  }
}

@media (max-width: 500px) {
  #parent > .flex-container {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: left;
      align-items: start;
      width: fit-content;
  }
}